/* ======================================================
   REUSABLE UTILITIES
====================================================== */

.layout-container {
  width: min(var(--container-width), 95%);
  margin-inline: auto;
  padding-inline: 20px;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}